server:
  port: ${SERVER_PORT:8081}

logging:
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %5p [%thread] [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n"
  level:
    com.example.catalogservice: INFO
    org.springframework: INFO
    root: INFO
    org.apache.kafka.clients: INFO
    org.hibernate.SQL: DEBUG
    # springboot 3.x hibernate 6버전 이상 바인딩된 파라미터 로그 설정
    org.hibernate.orm.jdbc.bind: TRACE

spring:
  application:
    name: catalog-service
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    consumer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
      group-id: consumer_group01 # Group id
      auto-offset-reset: earliest
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST}:3306/catalog_db
    username: catalog_user
    password: catalog_user
  h2:
    console:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true # SQL 쿼리에 주석 추가
        highlight_sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://discovery-service:8761/eureka

  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 10
    prefer-ip-address: true

# 2025-04-13 k8s 설정을 위한 임시 속성
topic:
  name: my-catalog-topic

management:
  endpoints:
    web:
      exposure:
        include: health, httptrace, info, metrics, prometheus
