server:
  port: 0

logging:
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %5p [%thread] [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n"
  level:
    com.example.catalogservice: DEBUG
    org.springframework: INFO
    root: INFO
    org.apache.kafka.clients: INFO
    org.hibernate.SQL: DEBUG
    # springboot 3.x hibernate 6버전 이상 바인딩된 파라미터 로그 설정
    org.hibernate.orm.jdbc.bind: TRACE

spring:
  application:
    name: catalog-service
  kafka:  # 2025-04-13 k8s 설정을 위한 임시 속성
    producer:
      bootstrap-servers: 127.0.0.1:9094
    consumer:
#      bootstrap-servers: ${BOOTSTRAP-SERVERS} # Kafka 클러스터에 대한 초기 연결에 사용할 호스트 : 포트 목록
      bootstrap-servers: 127.0.0.1:9094
      group-id: consumer_group01 # Group id
      auto-offset-reset: earliest
  datasource:
    url: jdbc:mariadb://127.0.0.1:3306/catalog_db
    username: catalog_user
    password: catalog_user
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka

  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 10
    prefer-ip-address: true

# 2025-04-13 k8s 설정을 위한 임시 속성
topic:
  name: my-catalog-topic
