/keystore/**
/mariadb-docker/**.sql
/native-file-repo/**
/prometheus-3.2.1/**
/zipkin/**
/git-local-repo

# Build outputs
**/bin/
**/build/
**/.gradle/
**/out/
**/target/
*.class

# IDE metadata
.idea/
*.iws
*.iml
*.ipr
