server:
  port: 0

logging:
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %5p [%thread] [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n"
  level:
    com.example.userservice: DEBUG
    org.springframework.security: INFO
    org.springframework.web: INFO
    org.springframework: INFO
    root: INFO
    org.hibernate.SQL: DEBUG
    # springboot 3.x hibernate 6버전 이상 바인딩된 파라미터 로그 설정
    org.hibernate.orm.jdbc.bind: TRACE

spring:
  application:
    name: user-service
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true # SQL 쿼리에 주석 추가
        highlight_sql: true
  # RabbitMQ 설정 정보
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    # local rabbitmq 계정 정보 admin / admin
    username: admin
    password: admin
    # docker rabbitmq 계정 정보 guest / guest
  #    username: '{cipher}AQBx8CFN7GRJXYF/UJFZrSbvGYlvRFkrBv7sSAWkfpKwJEp1P/Q2mFarLUHvIzisSdg0f4tR0zxwkEIiBiiJnYlzZkCVzce11tdJFjFtR7sbueCyPkFtg5gusNqXaxSddxJhb49mwNKABf7h2jBNfVzaAaAyFvJ3R7MLkZuuT3JXIpQQqdsG6R0C7tvYxIEWvQqW5IIYnzA2yf1xD6XtGqKLtz2MLuOphDnHNiXgpNln1EiU0QyUpl0n1PbS4QTZ9ruoHGL1eWDammyKsekAE2ZoQCWYpOBnLWt0iyUeqHF8CABaYkIIhvAS6BssMYCYXj045yuipMqn/CTZXFrO3t27rceaRtFxId5Q/NhK+p1d23i+hkPEXCJKBOG9Hdfl0aM='
  #    password: '{cipher}AQAgLrGQPHfKz53HIpZHS7glE4BqTWtzzW3uSpWWCr8ewZeA3qdTwEiZDVI/mpP0UCVwruxmn/dzbPyHOdOr6FafX/Es+SaQcTjQONqGDJHenIc5zFAq+kQjjb4pDXID22LfkaUvsDffCANVmhqUXEec+WGb3rIIvKhML++ZdkPwtc4U+/upUzaRSClXM53pkah6MGEYU48NoxgQUKBfKD5PpfNTIev+UkU1QmfKxZXAvdizsM2NQnQ1z68juUgo2FNfjf/bcd6rrNnuNanJdR5YMUu/JfzjQFn2IFuvHge5WdEjh1Yq8ksn7bTQSi1Zk8k4+M/ZF+iFCASPuCklOdQZW8S+ljK+EP8if437ropWw8oakVjbZit2QLaxVG0OLGo='
  h2:
    console:
      enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    # Eureka Server로 heartbeat 전송하는 시간 (디폴트 30초)
    lease-renewal-interval-in-seconds: 10
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: refresh, health, beans, busrefresh, info, metrics, prometheus
  # Micrometer 및 zipkin 설정
  tracing:
    sampling:
      probability: 1.0  # 추적할 요청의 비율 설정 (1.0은 모든 요청 추적)
    propagation:
      consume: B3
      produce: B3_MULTI
# 2025-06-01 불필요 로그 때문에 임시 주석
#    zipkin:
#      tracing:
#        endpoint: "http://localhost:9411/api/v2/spans"

# 2025-04-13 k8s 설정을 위한 임시 속성
#gateway:
#  ip: ${GATEWAY_IP}
#
#order-service-url: ${ORDER-SERVICE-URL}
#
#token:
#  expiration_time: ${TOKEN_EXPIRATION_TIME}
#  secret: ${TOKEN_SECRET}

# gRPC Client 설정
grpc:
  client:
    order-service:
      address: 'discovery:///order-service'  # Eureka를 통한 서비스 디스커버리
      negotiation-type: plaintext