logging:
  level:
    com.example.configservice: DEBUG
    org.springframework: INFO
    root: INFO

server:
  port: 8888

spring:
  application:
    name: config-service
  rabbitmq:
    host: 127.0.0.1
    port: 5672  # AMPQ port: 5672, 웹관리콘솔: 15672
    username: '{cipher}AQBx8CFN7GRJXYF/UJFZrSbvGYlvRFkrBv7sSAWkfpKwJEp1P/Q2mFarLUHvIzisSdg0f4tR0zxwkEIiBiiJnYlzZkCVzce11tdJFjFtR7sbueCyPkFtg5gusNqXaxSddxJhb49mwNKABf7h2jBNfVzaAaAyFvJ3R7MLkZuuT3JXIpQQqdsG6R0C7tvYxIEWvQqW5IIYnzA2yf1xD6XtGqKLtz2MLuOphDnHNiXgpNln1EiU0QyUpl0n1PbS4QTZ9ruoHGL1eWDammyKsekAE2ZoQCWYpOBnLWt0iyUeqHF8CABaYkIIhvAS6BssMYCYXj045yuipMqn/CTZXFrO3t27rceaRtFxId5Q/NhK+p1d23i+hkPEXCJKBOG9Hdfl0aM='
    password: '{cipher}AQAgLrGQPHfKz53HIpZHS7glE4BqTWtzzW3uSpWWCr8ewZeA3qdTwEiZDVI/mpP0UCVwruxmn/dzbPyHOdOr6FafX/Es+SaQcTjQONqGDJHenIc5zFAq+kQjjb4pDXID22LfkaUvsDffCANVmhqUXEec+WGb3rIIvKhML++ZdkPwtc4U+/upUzaRSClXM53pkah6MGEYU48NoxgQUKBfKD5PpfNTIev+UkU1QmfKxZXAvdizsM2NQnQ1z68juUgo2FNfjf/bcd6rrNnuNanJdR5YMUu/JfzjQFn2IFuvHge5WdEjh1Yq8ksn7bTQSi1Zk8k4+M/ZF+iFCASPuCklOdQZW8S+ljK+EP8if437ropWw8oakVjbZit2QLaxVG0OLGo='
#  profiles:
#    active: native
  cloud:
    config:
      server:
        # local file system에서 환경설정 정보를 가져온다.
#        native:
#          search-locations: file:///${user.home}\Desktop\study\springProject\MSA\MSA\native-file-repo
        git:
          uri: https://github.com/MasJeong/spring-cloud-config
          username: "{cipher}AQDRA8DD5R7N4+0YY44IfSpkxDvQ1Fec5AqMuloH1k3xH+Cy3HRR984/xCeqyXPem3FFHoH6ECvRqMmgEsHps\
                      F+JvoGZbXHPLxG1i2J8QDaF2jHAcHb+k1448DWLpC1Drx2pbrw3/RSVOxy0rr4UT2zvDqhXKOSXlKJtQkjLxJH4GZf73/\
                      2+sSld9Mzdnt9HAgrKI2rumygneaPN3GLkzZRB6vhEfP0XrdVfnqsC1K8l/zjP7DwGR7gnz2nlk+OX1aadxNuKdC9/IlQ\
                      4n1s2JfTys1nFejG2Q2ojnALWTpA1sBqvbQaudJyD/+jVWrERbV5DTCv0Y5XP3QnNxhxl16WAF7iDDmpTC3EvTwdDuZs9\
                      lI5Ey0bfTC5HvG6SZkcBfqk="
          password: "{cipher}AQAAX2yOAazKtEz8qJyo1Gjfbej2+UCv7CgD1/zZwqRPt/7Vzs0w5bXFKz0G2uZBQ5Z0GUMQPkamC4rixXz0LZA\
                      x9gZ3Ca30jzkJc1rdVnxjORxH301cvO6fsNtm1rhWLGvi117ZGKIxmpecSz5jV++GoXa5kiopqzJzAyhxjmfhQAkHc/enh\
                      S67jkHb102Rh4Bbk4tXTbC/yTJCMb9INPwC4JXzYaQkWYwvUz5UPfT7XDXlygGDlb1ePMI0u0g9H38pfdsit3teDlb2IGW\
                      Jlh4mIHSPalHLK85uHzWMPGU+L+Mjookd2Lh9nok2VycPn6H84+lWmJ/qtJvo6bViEs8TtIjsj3sPvzchYDC6CPqRGwb0i\
                      v8+Mq4C99rWzjnUgop7Yr5GT1IJCa1/+FfoxrEGTLmVF+LEJQ9HMQUaon+BlA=="

# actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health, busrefresh